<h3 class="ui header">{{t "forms.i-i-s-new-график-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-new-график-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-new-график-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-new-график-e.явка-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.явка
      class=(if (v-get validationModel "явка" "isInvalid") "error")
      data-test-i-i-s-new-график-e-явка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "явка" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.причина
      class=(if (v-get validationModel "причина" "isInvalid") "error")
      label=(t "forms.i-i-s-new-график-e.причина-caption")
      data-test-i-i-s-new-график-e-причина=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "причина" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кол_часов
      class=(if (v-get validationModel "кол_часов" "isInvalid") "error")
      label=(t "forms.i-i-s-new-график-e.кол_часов-caption")
      data-test-i-i-s-new-график-e-кол_часов=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кол_часов" "message")}}
  </div>
</form>
